# Emacs
*~
.\#*
\.\#.+

# Python
__pycache__/
*.py[cod]

# Diff/Merge
*.orig
*.rej

# Mac
.DS_Store

# Project
build/

# misc
.idea
Session.vim
Sessionx.vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
